body
{
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: hsl(281, 100%, 83%);
}

main > h1
{
  text-align: center;
  font-size: 3.2rem;
  font-family: monospace;
  word-spacing: -25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transform: rotate(-7.25deg);

  span
  {
    color: hsl(295, 100%, 40%);
    font-family: cursive;
    font-size: 2.38rem;
    text-transform: uppercase;
    letter-spacing: -2px;
    transform: rotate(45deg);
    translate: 0px 10px;
  }
}

#calculator-container
{
  background-color: hsl(0, 0%, 20%);
  width: max-content;
  padding: 20px 14px;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  box-shadow: 0 8px 5px hsl(0, 0%, 32%), 0 2px black;
}

#calculator-screen
{
  padding: 12px;
  font-size: 2rem;
  font-family: monospace;
  overflow-x: scroll;
  background-color: hsl(0, 0%, 38%);
  border: none;
  border-radius: 7px;
  color:white;
  box-shadow: 0 4px 3px black;
}

#keypad-container
{
  padding: 10px;
  font-family: monospace;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* gap: 7px; */
  row-gap: 7px;
}

button.key-btn
{
  width: 70px;
  height: 70px;
  padding: 12px;
  font-size: 1.43rem;
  font-weight: 600;
  border-radius: 50%;
  align-content: center;
  border: none;
  color: white;
  background-color: hsl(0, 0%, 34%);
  cursor: pointer;
}

button.key-btn:hover
{
  background-color: hsl(0, 0%, 42%);
}

button.key-btn:active
{
  background-color: hsl(0, 0%, 48%);
}

button.operator-key
{
  background-color: hsl(295, 100%, 40%);
}

button.operator-key:hover
{
  background-color: hsl(295, 100%, 45%);
}

button.operator-key:active
{
  background-color: hsl(295, 100%, 50%);
}